

/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "rose-pine-moon.css";


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    color: @pine;
    border: 0;
    padding: 0 0;
    font-family: "JetBrainsMono Nerd Font Propo Bold", monospace;
    font-size: 14px;
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
    color: @iris;
    background-color: @base;
    margin: 0px 0px;
    border-radius: 10px 10px 10px 10px;
    padding: 4px 4px 4px 4px;
}

#workspaces button:hover {
    color: @love;
    box-shadow: none;
    /* Remove predefined box-shadow */
    text-shadow: none;
    /* Remove predefined text-shadow */
    border: 0px;
    background: none;
    border-radius: 10px 10px 10px 10px;
}

#workspaces button:hover * {
    color: @love;
    background-color: @base;
    border-radius: 10px 10px 10px 10px;
}

#workspaces * {
    color: @iris;
    border-radius: 10px 10px 10px 10px;
    font-size: 18.5px;
    margin-left:2px;
    margin-right:2px;
}

#workspaces {
    border-style: solid;
    background-color: @base;
    opacity: 1;
    border-radius: 10px 10px 10px 10px;
    margin: 8px 0px 8px 0px;
    border: 2.3px solid @pine;
    /*margin-left: 5px; */
}

#workspaces button.focused {
    color: @love;
    /* background-color: @rose; */
}

#workspaces button.focused * {
    color: @love;
}


#clock,
#custom-cava-internal,
#battery,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-power,
#custom-launcher,
#custom-playerctl,
#custom-notification,
#custom-scratchpad-indicator {
    padding: 5px 8px;
    border-style: solid;
    /* background-color: shade(@base, 1); */
    opacity: 1;
    margin: 8px 0;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
#tray {
    border-radius: 10px; 
    background-color: shade(@base, 1);
    border-bottom: 2.3px solid @pine;
    border-top: 2.3px solid @pine;
    border-left: 2.3px solid @pine;
    border-right: 2.3px solid @pine;
    margin-left: 3px;
}

#custom-cava-internal {
    border-radius: 10px;
    border: 2.3px solid @pine;
    color: @iris;
    background-color: @base;
}

#clock {
    background-color: @base;
    color: @iris;
    border-radius: 0px 10px 10px 0px;
    margin-right: 3px;
    border-bottom: 2.3px solid @pine;
    border-top: 2.3px solid @pine;
    border-right: 2.3px solid @pine;
}

#backlight {
    color: @iris;
    background-color: @base;
    border-radius: 10px 0px 0px 10px;
    border-bottom: 2.3px solid @pine;
    border-top: 2.3px solid @pine;
    border-left: 2.3px solid @pine;
}

#battery {
    background-color: @base;
    color: @iris;
    border-radius: 0px 10px 10px 0px;
    border-top: 2.3px solid @pine;
    border-right: 2.3px solid @pine;
    border-bottom: 2.3px solid @pine;
    margin-right: 3px;
}

#battery.charging {
    color: @iris;
    background-color: @base;
}

@keyframes blink {
    to {
        background-color: @iris;
    }
}

#battery.critical:not(.charging) {
    color: @iris;
    background-color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disabled {
    color: @iris;
    background-color: @base;
}

#network {
    color: @iris;
    background-color: @base;
    border-radius: 10px 0px 0px 10px;
    border-top: 2.3px solid @pine;
    border-left: 2.3px solid @pine;
    border-bottom: 2.3px solid @pine;
}

#network.disconnected {
    color: @iris;
    background-color: @base;
}

#pulseaudio {
    color: @iris;
    background-color: @base;
    border-top: 2.3px solid @pine;
    border-bottom: 2.3px solid @pine;
}

#pulseaudio.muted {
    color: @iris;
    background-color: @base;
}


#custom-launcher {
    background-color: @base;
    color: @iris;
    font-size: 18;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    padding: 0px 0px 0px 10px;
    border-bottom: 2.3px solid @pine;
    border-top: 2.3px solid @pine;
    border-left: 2.3px solid @pine;
}

#custom-power {
    color: @iris;
    background-color: @base;
    border-radius: 0 10px 10px 0;
    margin-right: 5px;
    border-bottom: 2.3px solid @pine;
    border-top: 2.3px solid @pine;
    border-right: 2.3px solid @pine;
}

#custom-keyboard-layout {
    color: @iris;
    background-color: @base;
    border-radius: 10px;
    margin-right: 3px;
    border-bottom: 2.3px solid @pine;
    border-top: 2.3px solid @pine;
    border-left: 2.3px solid @pine;
    border-right: 2.3px solid @pine;
}

/* Styles for playerctl */
#custom-playerctl {
    color: @iris;
    background-color: @base;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font Propo Bold";
    font-size: 12.5px;
    border: 2.3px solid @pine;
    margin-left: 3px;
    margin-right: 3px
}

#custom-notification {
    color: @iris;
    background-color: @base;
    /* border-bottom: 2px solid @peach; */
    border-radius: 0px 0px 0px 0px;
    border-bottom: 2.3px solid @pine;
    border-top: 2.3px solid @pine;
}

#custom-scratchpad-indicator{
    color: @iris;
    background-color: @base;
    /* border-bottom: 2px solid @peach; */
    border-radius: 10px;
    border: 2.3px solid @pine;
    margin-left: 3px;
}

